# SQLite Databases with Python

[Tutorial Link](https://www.youtube.com/watch?v=byHcYRpMgI4)


### Only has 5 datatypes to choose from
- NULL
- INTEGER
- REAL
- TEXT
- BLOB (image, mp3)

### Import required libraries

In [1]:
import sqlite3

### Create a connection to the database

In [9]:
conn = sqlite3.connect("customer.db")

In [3]:
# You can use a sql database in memory(not saved)
# conn = sqlite3.conect(':memory:')

### Build a table to put data into

In [6]:
# Create a cursor (tell database what to do)
c = conn.cursor()

# create a table
c.execute(""" CREATE TABLE customers (
        first_name TEXT,
        last_name TEXT,
        email TEXT
    )""")

# Commit our commmand
conn.commit()

### Close the connection

In [7]:
conn.close()

### Put data into our table

In [10]:
# Create a cursor (tell database what to do)
c = conn.cursor()

# create a table
c.execute(" INSERT INTO customers VALUES ('John', 'Elder', 'john@codemy.com')")

# Commit our commmand
conn.commit()

In [12]:
# create a table
c.execute(" INSERT INTO customers VALUES ('Jane', 'Jackson', 'Jane_J@codemy.com')")

# Commit our commmand
conn.commit()

### Insert Many Records into the Database

In [13]:
# Insert many

many_customers = [('Jack', 'White', 'Jack@white.com'),
                  ('Steph', 'Kang', 'steph@kang.com'),
                  ('Dan', 'Pop', 'dan@pop.com')
                 ]

c.executemany(" INSERT INTO customers VALUES (?,?,?) ", many_customers)

# Commit our commmand
conn.commit()

## Query our database - fetchall

In [19]:
c = conn.cursor()

c.execute("SELECT * FROM customers")

print(c.fetchone())
#c.fetchmany(3)
#print(c.fetchall())

conn.commit()

('John', 'Elder', 'john@codemy.com')

In [29]:
c = conn.cursor()

c.execute("SELECT * FROM customers")

#print(c.fetchone())
#c.fetchmany(3)
#print(c.fetchall())

items = c.fetchall()
print("NAME " "\t\tEMAIL")
print("---------", "\t---------")
for item in items:
    print(item[1] + ", " + item[0] + " \t" + item[2] )

conn.commit()

NAME 		EMAIL
--------- 	---------
Elder, John 	john@codemy.com
Ing, Tim 	Tin_I@codemy.com
Jackson, Jane 	Jane_J@codemy.com
White, Jack 	Jack@white.com
Kang, Steph 	steph@kang.com
Pop, Dan 	dan@pop.com

## Primary Key ID

- unique record that each item database gets

In [33]:
# SQLite3 creates a primary key in the background
# to access it:
c = conn.cursor()

c.execute("SELECT rowid, * FROM customers")

#print(c.fetchone())
#c.fetchmany(3)
#print(c.fetchall())

items = c.fetchall()
#print("NAME " "\t\tEMAIL")
print("---------", "\t\t---------")
for item in items:
    print(item)

conn.commit()

--------- 		---------
(1, 'John', 'Elder', 'john@codemy.com')
(2, 'Tim', 'Ing', 'Tin_I@codemy.com')
(3, 'Jane', 'Jackson', 'Jane_J@codemy.com')
(4, 'Jack', 'White', 'Jack@white.com')
(5, 'Steph', 'Kang', 'steph@kang.com')
(6, 'Dan', 'Pop', 'dan@pop.com')

## WHERE clause

In [34]:
c = conn.cursor()

c.execute("SELECT * FROM customers WHERE last_name = 'Elder'")

items = c.fetchall()

for item in items:
    print(item)
    
    
conn.commit()

('John', 'Elder', 'john@codemy.com')

## UPDATE Records

In [37]:
# NOt the ideal method to accomplish this task (UPDATE)

c.execute("""UPDATE customers SET first_name = "Peter"
            WHERE last_name  = 'Elder'
""")

conn.commit()

c.execute("SELECT * FROM customers")

items=c.fetchall()
for item in items:
    print(item)
    print('\n')

('Peter', 'Elder', 'john@codemy.com')


('Tim', 'Ing', 'Tin_I@codemy.com')


('Jane', 'Jackson', 'Jane_J@codemy.com')


('Jack', 'White', 'Jack@white.com')


('Steph', 'Kang', 'steph@kang.com')


('Dan', 'Pop', 'dan@pop.com')

In [39]:
# using the rowid ensures only 1 entry is changed

c.execute("""UPDATE customers SET first_name = "Donatello"
            WHERE rowid  = 1
""")

conn.commit()

c.execute("SELECT rowid,* FROM customers")

items=c.fetchall()
for item in items:
    print(item)
    print('\n')

(1, 'Donatello', 'Elder', 'john@codemy.com')


(2, 'Tim', 'Ing', 'Tin_I@codemy.com')


(3, 'Jane', 'Jackson', 'Jane_J@codemy.com')


(4, 'Jack', 'White', 'Jack@white.com')


(5, 'Steph', 'Kang', 'steph@kang.com')


(6, 'Dan', 'Pop', 'dan@pop.com')

## DELETE a record

In [ ]:
c.execute("DELETE FROM customers WHERE rowid = 6 ")

conn.commit()

c.execute("SELECT rowid, * FROM customers")

items = c.fetchall()
for item in items:
    print(item)
    print('\n')

## ORDER Results

In [43]:
c.execute("SELECT rowid, * FROM customers ORDER BY rowid DESC")

conn.commit()

items = c.fetchall()
for item in items:
    print(item)
    print('\n')

(6, 'Dan', 'Pop', 'dan@pop.com')


(5, 'Steph', 'Kang', 'steph@kang.com')


(4, 'Jack', 'White', 'Jack@white.com')


(3, 'Jane', 'Jackson', 'Jane_J@codemy.com')


(2, 'Tim', 'Ing', 'Tin_I@codemy.com')


(1, 'Donatello', 'Elder', 'john@codemy.com')

## AND OR

In [46]:
c.execute("SELECT rowid, * FROM customers WHERE last_name LIKE 'W%' AND email LIKE '%@%' ORDER BY rowid DESC")

conn.commit()

items = c.fetchall()
for item in items:
    print(item)
    print('\n')

(4, 'Jack', 'White', 'Jack@white.com')

## LIMIT Results

## DATABASE APP

In [ ]:
# Create a function to show all the stuff in the table
def show_all():
    
    # Connect to the database
    conn - sqlite3.connect('customer.db')
    # Create a cursor
    c = conn.cursor()
    
    # Query the database
    c.execute("SELECT rowid, * FROM customers")
    items = c.fetchall()
    
    for item in items:
        print(item)
        print('\n')
        
    # Commit our command
    conn.commit()
    
    # Close our connection
    conn.close()

In [ ]:
# Add a Record to a table Function
def add_one(first, last, email):
    conn=sqlite3.connect('customer.db')
    c = conn.cursor()
    c.execute("INSERT INTO customers VALUES (?, ?, ?)", (first, last, email))
    c.commit()
    conn.close()